<div id="annoy">
<style>
.logo {
content: url("https://comicserver.github.io/Site/img/Logos/ComicServer/darkhoriz.png")
}
body {
width: 50%;
align-items: center;
align-content: center;
margin-left: auto;
margin-right: auto;
background-color: #212529;
}
.centerrr {
display: block;
margin-left: auto;
margin-right: auto;
width: 100%;
text-align:center;
font-family: Comfortaa;
color: white;
font-size: 2vw;
}
.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  font-family: Comfortaa;
}
a:link {color: white;}
a:visited {color: white;}
a:hover {color: white;}
a:active {color: white;}
.footer {
color: white;
font-family: Comfortaa;
}
</style>
<%- include("datepickerlight") %>
</div>
