<title>ComicServer</title>
<meta property="og:image" content="https://old.comicserver.org/img/Muncie 3.png">
 <meta property="og:image:type" content="image/png">
<meta property="og:image:width" content="1982">
<meta property="og:image:height" content="1982">
<meta property="og:type" content="website" />
<meta property="og:title" content="ComicServer" />
<meta property="og:description" content="ComicServer is a service that keeps you up to date with the fun part of the newspaper." />
<link rel='shortcut icon' href='https://old.comicserver.org/img/core.png' />
<%- include ("header") %>
<h2 id="haitchpea" style="font-size: 2vw;text-align:center;padding:1px"
class="profd"><span style="padding-left:10px"><i class="bi bi-compass"></i> Explore</span></h2>
<p class="proft" style="font-size:1vw" id="txt">Find something new!</p>
<br><br>
<br><br>
<div class="halfsies" id="favs">
<div class="excard"></div>
</div>
</div>
<script>
if( /Android|webOS|iPhone|iPad|iPod|BlackBerry|IEMobile|Opera Mini/i.test(navigator.userAgent) ) {
document.getElementById('txt').style.fontSize = "4vw";
document.getElementById('haitchpea').style.fontSize = "5vw"
document.getElementById('favs').style.marginLeft = "auto";
document.getElementById('favs').style.marginRight = "auto";
document.getElementById('editmenu').style.marginLeft = "auto";
document.getElementById('editmenu').style.marginRight = "auto";
}
</script>
<script>
const featRSS = [
  'https://www.comicsrss.com/rss/think.rss',
  'https://www.comicsrss.com/rss/1-and-done.rss',
  'https://www.comicsrss.com/rss/2cowsandachicken.rss',
  'https://www.comicsrss.com/rss/ninechickweedlane.rss',
  'https://www.comicsrss.com/rss/9chickweedlane.rss',
  'https://www.comicsrss.com/rss/9-chickweed-lane-classics.rss',
  'https://www.comicsrss.com/rss/9to5.rss',
  'https://www.comicsrss.com/rss/tavicat.rss',
  'https://www.comicsrss.com/rss/a-problem-like-jamal.rss',
  'https://www.comicsrss.com/rss/adamathome.rss',
  'https://www.comicsrss.com/rss/adult-children.rss',
  'https://www.comicsrss.com/rss/agnes.rss',
  'https://www.comicsrss.com/rss/aj-and-magnus.rss',
  'https://www.comicsrss.com/rss/algoodwyn.rss',
  'https://www.comicsrss.com/rss/alis-house.rss',
  'https://www.comicsrss.com/rss/alley-oop.rss',
  'https://www.comicsrss.com/rss/amanda-the-great.rss',
  'https://www.comicsrss.com/rss/amazing-spider-man.rss',
  'https://www.comicsrss.com/rss/american-chop-suey.rss',
  'https://www.comicsrss.com/rss/andertoons.rss',
  'https://www.comicsrss.com/rss/andycapp.rss',
  'https://www.comicsrss.com/rss/angry-birds.rss',
  'https://www.comicsrss.com/rss/angry-little-girls.rss',
  'https://www.comicsrss.com/rss/animalcrackers.rss',
  'https://www.comicsrss.com/rss/annie.rss',
  'https://www.comicsrss.com/rss/apartment-3-g_1.rss',
  'https://www.comicsrss.com/rss/archie.rss',
  'https://www.comicsrss.com/rss/arcticcircle.rss',
  'https://www.comicsrss.com/rss/arloandjanis.rss',
  'https://www.comicsrss.com/rss/artbymoga.rss',
  'https://www.comicsrss.com/rss/ask-a-cat.rss',
  'https://www.comicsrss.com/rss/ask-a-portly-syndicate-person.rss',
  'https://www.comicsrss.com/rss/askshagg.rss',
  'https://www.comicsrss.com/rss/at-the-zoo.rss',
  'https://www.comicsrss.com/rss/aunty-acid.rss',
  'https://www.comicsrss.com/rss/bc.rss',
  'https://www.comicsrss.com/rss/babyblues.rss',
  'https://www.comicsrss.com/rss/baby-trump.rss',
  'https://www.comicsrss.com/rss/backintheday.rss',
  'https://www.comicsrss.com/rss/back-to-bc.rss',
  'https://www.comicsrss.com/rss/bacon.rss',
  'https://www.comicsrss.com/rss/bad-machinery.rss',
  'https://www.comicsrss.com/rss/badreporter.rss',
  'https://www.comicsrss.com/rss/badlands.rss',
  'https://www.comicsrss.com/rss/baldo.rss',
  'https://www.comicsrss.com/rss/ballardstreet.rss',
  'https://www.comicsrss.com/rss/banana-triangle.rss',
  'https://www.comicsrss.com/rss/barkeaterlake.rss',
  'https://www.comicsrss.com/rss/barneyandclyde.rss',
  'https://www.comicsrss.com/rss/barney-google-and-snuffy-smith.rss',
  'https://www.comicsrss.com/rss/barney-google-and-snuffy-smith-1.rss',
  'https://www.comicsrss.com/rss/barneygoogle.rss',
  'https://www.comicsrss.com/rss/basicinstructions.rss',
  'https://www.comicsrss.com/rss/batch-rejection.rss',
  'https://www.comicsrss.com/rss/beanie-the-brownie.rss',
  'https://www.comicsrss.com/rss/bear-with-me.rss',
  'https://www.comicsrss.com/rss/beardo.rss',
  'https://www.comicsrss.com/rss/beetlebailey.rss',
  'https://www.comicsrss.com/rss/beetle-bailey-1.rss',
  'https://www.comicsrss.com/rss/ben.rss',
  'https://www.comicsrss.com/rss/bent-objects.rss',
  'https://www.comicsrss.com/rss/berger-and-wyse.rss',
  'https://www.comicsrss.com/rss/berkeley-mews.rss',
  'https://www.comicsrss.com/rss/betty.rss',
  'https://www.comicsrss.com/rss/betweenfriends.rss',
  'https://www.comicsrss.com/rss/Beware-of-Toddler.rss',
  'https://www.comicsrss.com/rss/bewley.rss',
  'https://www.comicsrss.com/rss/bfgf-syndrome.rss',
  'https://www.comicsrss.com/rss/biff-and-riley.rss',
  'https://www.comicsrss.com/rss/big-ben-bolt.rss',
  'https://www.comicsrss.com/rss/big-ben-bolt-sundays.rss',
  'https://www.comicsrss.com/rss/bignate.rss',
  'https://www.comicsrss.com/rss/big-nate-first-class.rss',
  'https://www.comicsrss.com/rss/bigtop.rss',
  'https://www.comicsrss.com/rss/biographic.rss',
  'https://www.comicsrss.com/rss/bird-and-moon.rss',
  'https://www.comicsrss.com/rss/birdbrains.rss',
  'https://www.comicsrss.com/rss/bizarro.rss',
  'https://www.comicsrss.com/rss/bleeker.rss',
  'https://www.comicsrss.com/rss/bliss.rss',
  'https://www.comicsrss.com/rss/blondie.rss',
  'https://www.comicsrss.com/rss/bloomcounty.rss',
  'https://www.comicsrss.com/rss/bonanas.rss',
  'https://www.comicsrss.com/rss/bobgorrell.rss',
  'https://www.comicsrss.com/rss/Show-Me-The-Funny.rss',
  'https://www.comicsrss.com/rss/Show-Me-The-Funny-Pets.rss',
  'https://www.comicsrss.com/rss/bob-the-angry-flower.rss',
  'https://www.comicsrss.com/rss/bobthesquirrel.rss',
  'https://www.comicsrss.com/rss/boners-ark.rss',
  'https://www.comicsrss.com/rss/boners-ark-sundays.rss',
  'https://www.comicsrss.com/rss/boomerangs.rss',
  'https://www.comicsrss.com/rss/bottomliners.rss',
  'https://www.comicsrss.com/rss/boundandgagged.rss',
  'https://www.comicsrss.com/rss/bozo.rss',
  'https://www.comicsrss.com/rss/brain-squirts.rss',
  'https://www.comicsrss.com/rss/break-of-day.rss',
  'https://www.comicsrss.com/rss/breaking-cat-news.rss',
  'https://www.comicsrss.com/rss/brevity.rss',
  'https://www.comicsrss.com/rss/brewsterrockit.rss',
  'https://www.comicsrss.com/rss/brian-duffy.rss',
  'https://www.comicsrss.com/rss/brian-mcfadden.rss',
  'https://www.comicsrss.com/rss/brick-bradford.rss',
  'https://www.comicsrss.com/rss/brilliantmindofedisonlee.rss',
  'https://www.comicsrss.com/rss/bringing-up-father.rss',
  'https://www.comicsrss.com/rss/broomhilda.rss',
  'https://www.comicsrss.com/rss/buckles.rss',
  'https://www.comicsrss.com/rss/bully.rss',
  'https://www.comicsrss.com/rss/buni.rss',
  'https://www.comicsrss.com/rss/bushy-tales.rss',
  'https://www.comicsrss.com/rss/buz-sawyer.rss',
  'https://www.comicsrss.com/rss/cestlavie.rss',
  'https://www.comicsrss.com/rss/calvinandhobbes.rss',
  'https://www.comicsrss.com/rss/candorville.rss',
  'https://www.comicsrss.com/rss/captionit.rss',
  'https://www.comicsrss.com/rss/carpediem.rss',
  'https://www.comicsrss.com/rss/cats-cafe.rss',
  'https://www.comicsrss.com/rss/little-moments-of-love.rss',
  'https://www.comicsrss.com/rss/cathy.rss',
  'https://www.comicsrss.com/rss/cathy-commiserations.rss',
  'https://www.comicsrss.com/rss/cattitude-doggonit.rss',
  'https://www.comicsrss.com/rss/chanlowe.rss',
  'https://www.comicsrss.com/rss/cheap-thrills-cuisine.rss',
  'https://www.comicsrss.com/rss/cheer-up-emo-kid.rss',
  'https://www.comicsrss.com/rss/chipbok.rss',
  'https://www.comicsrss.com/rss/chrisbritt.rss',
  'https://www.comicsrss.com/rss/chuck-draws-things.rss',
  'https://www.comicsrss.com/rss/chucklebros.rss',
  'https://www.comicsrss.com/rss/citizendog.rss',
  'https://www.comicsrss.com/rss/claw.rss',
  'https://www.comicsrss.com/rss/claybennett.rss',
  'https://www.comicsrss.com/rss/clayjones.rss',
  'https://www.comicsrss.com/rss/clearbluewater.rss',
  'https://www.comicsrss.com/rss/cleats.rss',
  'https://www.comicsrss.com/rss/closetohome.rss',
  'https://www.comicsrss.com/rss/committed.rss',
  'https://www.comicsrss.com/rss/compu-toon.rss',
  'https://www.comicsrss.com/rss/connie-to-the-wonnie.rss',
  'https://www.comicsrss.com/rss/cornered.rss',
  'https://www.comicsrss.com/rss/cowandboy.rss',
  'https://www.comicsrss.com/rss/cowtown.rss',
  'https://www.comicsrss.com/rss/crabgrass.rss',
  'https://www.comicsrss.com/rss/crankshaft.rss',
  'https://www.comicsrss.com/rss/crock.rss',
  'https://www.comicsrss.com/rss/crumb.rss',
  'https://www.comicsrss.com/rss/culdesac.rss',
  'https://www.comicsrss.com/rss/cursed-forever.rss',
  'https://www.comicsrss.com/rss/curses.rss',
  'https://www.comicsrss.com/rss/curtis.rss',
  'https://www.comicsrss.com/rss/daddydaze.rss',
  'https://www.comicsrss.com/rss/daddyshome.rss',
  'https://www.comicsrss.com/rss/danwasserman.rss',
  'https://www.comicsrss.com/rss/danasummers.rss',
  'https://www.comicsrss.com/rss/darksideofthehorse.rss',
  'https://www.comicsrss.com/rss/darrin-bell.rss',
  'https://www.comicsrss.com/rss/david-m-hitch.rss',
  'https://www.comicsrss.com/rss/day-by-dave.rss',
  'https://www.comicsrss.com/rss/deep-dark-fears.rss',
  'https://www.comicsrss.com/rss/deflocked.rss',
  'https://www.comicsrss.com/rss/dennisthemenace.rss',
  'https://www.comicsrss.com/rss/diamondlil.rss',
  'https://www.comicsrss.com/rss/dicktracy.rss',
  'https://www.comicsrss.com/rss/dilbert.rss',
  'https://www.comicsrss.com/rss/dilbert-classics.rss',
  'https://www.comicsrss.com/rss/thedinetteset.rss',
  'https://www.comicsrss.com/rss/dinosaur-comics.rss',
  'https://www.comicsrss.com/rss/dogeatdoug.rss',
  'https://www.comicsrss.com/rss/dogsofckennel.rss',
  'https://www.comicsrss.com/rss/domesticabuse.rss',
  'https://www.comicsrss.com/rss/doodle-for-food.rss',
  'https://www.comicsrss.com/rss/doodle-diary.rss',
  'https://www.comicsrss.com/rss/doodle-town.rss',
  'https://www.comicsrss.com/rss/doonesbury.rss',
  'https://www.comicsrss.com/rss/dorris-mccomics.rss',
  'https://www.comicsrss.com/rss/drabble.rss',
  'https://www.comicsrss.com/rss/dragon-girl.rss',
  'https://www.comicsrss.com/rss/drewsheneman.rss',
  'https://www.comicsrss.com/rss/drive.rss',
  'https://www.comicsrss.com/rss/dudedude.rss',
  'https://www.comicsrss.com/rss/dumbwich-castle.rss',
  'https://www.comicsrss.com/rss/dustin.rss',
  'https://www.comicsrss.com/rss/ed-gamble.rss',
  'https://www.comicsrss.com/rss/edge-city.rss',
  'https://www.comicsrss.com/rss/edge-of-adventure.rss',
  'https://www.comicsrss.com/rss/eek.rss',
  'https://www.comicsrss.com/rss/emmy-lou.rss',
  'https://www.comicsrss.com/rss/endtown.rss',
  'https://www.comicsrss.com/rss/eric-allie.rss',
  'https://www.comicsrss.com/rss/eric-the-circle.rss',
  'https://www.comicsrss.com/rss/everyday-people-cartoons.rss',
  'https://www.comicsrss.com/rss/eyebeam.rss',
  'https://www.comicsrss.com/rss/eyebeam-classic.rss',
  'https://www.comicsrss.com/rss/fminus.rss',
  'https://www.comicsrss.com/rss/facesinthenews.rss',
  'https://www.comicsrss.com/rss/false-knees.rss',
  'https://www.comicsrss.com/rss/familycircus.rss',
  'https://www.comicsrss.com/rss/familytree.rss',
  'https://www.comicsrss.com/rss/farcus.rss',
  'https://www.comicsrss.com/rss/fat-cats.rss',
  'https://www.comicsrss.com/rss/flash-forward.rss',
  'https://www.comicsrss.com/rss/flash-gordon.rss',
  'https://www.comicsrss.com/rss/flash-gordon-1.rss',
  'https://www.comicsrss.com/rss/flash-gordon-sundays.rss',
  'https://www.comicsrss.com/rss/floandfriends.rss',
  'https://www.comicsrss.com/rss/foolish-mortals.rss',
  'https://www.comicsrss.com/rss/forbetterorforworse.rss',
  'https://www.comicsrss.com/rss/forheavenssake.rss',
  'https://www.comicsrss.com/rss/fortknox.rss',
  'https://www.comicsrss.com/rss/four-eyes.rss',
  'https://www.comicsrss.com/rss/fowl-language.rss',
  'https://www.comicsrss.com/rss/foxtrot.rss',
  'https://www.comicsrss.com/rss/foxtrotclassics.rss',
  'https://www.comicsrss.com/rss/francis.rss',
  'https://www.comicsrss.com/rss/frank-and-ernest.rss',
  'https://www.comicsrss.com/rss/frazz.rss',
  'https://www.comicsrss.com/rss/fredbasset.rss',
  'https://www.comicsrss.com/rss/freerange.rss',
  'https://www.comicsrss.com/rss/freshlysqueezed.rss',
  'https://www.comicsrss.com/rss/frogapplause.rss',
  'https://www.comicsrss.com/rss/funky-winkerbean.rss',
  'https://www.comicsrss.com/rss/funky-winkerbean-sundays.rss',
  'https://www.comicsrss.com/rss/funky-winkerbean-1.rss',
  'https://www.comicsrss.com/rss/Funny-Online-Animals.rss',
  'https://www.comicsrss.com/rss/g-man-webcomics.rss',
  'https://www.comicsrss.com/rss/garfield.rss',
  'https://www.comicsrss.com/rss/garfield-classics.rss',
  'https://www.comicsrss.com/rss/garfieldminusgarfield.rss',
  'https://www.comicsrss.com/rss/garymarkstein.rss',
  'https://www.comicsrss.com/rss/garyvarvel.rss',
  'https://www.comicsrss.com/rss/gasolinealley.rss',
  'https://www.comicsrss.com/rss/Gearhead-Gertie.rss',
  'https://www.comicsrss.com/rss/geech.rss',
  'https://www.comicsrss.com/rss/gentle-creatures.rss',
  'https://www.comicsrss.com/rss/getalife.rss',
  'https://www.comicsrss.com/rss/getfuzzy.rss',
  'https://www.comicsrss.com/rss/gil.rss',
  'https://www.comicsrss.com/rss/gilthorp.rss',
  'https://www.comicsrss.com/rss/gingermeggs.rss',
  'https://www.comicsrss.com/rss/glasbergen-cartoons.rss',
  'https://www.comicsrss.com/rss/globetrotter.rss',
  'https://www.comicsrss.com/rss/gnome-syndicate.rss',
  'https://www.comicsrss.com/rss/goats.rss',
  'https://www.comicsrss.com/rss/fan-art.rss',
  'https://www.comicsrss.com/rss/graffiti.rss',
  'https://www.comicsrss.com/rss/grand-avenue.rss',
  'https://www.comicsrss.com/rss/gray-matters.rss',
  'https://www.comicsrss.com/rss/green-humour.rss',
  'https://www.comicsrss.com/rss/hagarthehorrible.rss',
  'https://www.comicsrss.com/rss/haikuewe.rss',
  'https://www.comicsrss.com/rss/haircut-practice.rss',
  'https://www.comicsrss.com/rss/half-full.rss',
  'https://www.comicsrss.com/rss/half-full-espanol.rss',
  'https://www.comicsrss.com/rss/ham-shears.rss',
  'https://www.comicsrss.com/rss/harley.rss',
  'https://www.comicsrss.com/rss/healthcapsules.rss',
  'https://www.comicsrss.com/rss/heart-of-juliet-jones.rss',
  'https://www.comicsrss.com/rss/heart-of-juliet-jones-sundays.rss',
  'https://www.comicsrss.com/rss/heartofthecity.rss',
  'https://www.comicsrss.com/rss/heathcliff.rss',
  'https://www.comicsrss.com/rss/henrypayne.rss',
  'https://www.comicsrss.com/rss/herbandjamaal.rss',
  'https://www.comicsrss.com/rss/herman.rss',
  'https://www.comicsrss.com/rss/herman-en-espanol.rss',
  'https://www.comicsrss.com/rss/hiandlois.rss',
  'https://www.comicsrss.com/rss/hi-and-lois-1.rss',
  'https://www.comicsrss.com/rss/homeandaway.rss',
  'https://www.comicsrss.com/rss/homefree.rss',
  'https://www.comicsrss.com/rss/hot-comics-for-cool-people.rss',
  'https://www.comicsrss.com/rss/how-to-cat.rss',
  'https://www.comicsrss.com/rss/hubris.rss',
  'https://www.comicsrss.com/rss/human-cull.rss',
  'https://www.comicsrss.com/rss/humorme.rss',
  'https://www.comicsrss.com/rss/hutch-owen.rss',
  'https://www.comicsrss.com/rss/ice-cream-sandwich-comics.rss',
  'https://www.comicsrss.com/rss/imaginethis.rss',
  'https://www.comicsrss.com/rss/imogen-quest.rss',
  'https://www.comicsrss.com/rss/in-security.rss',
  'https://www.comicsrss.com/rss/inthebleachers.rss',
  'https://www.comicsrss.com/rss/inthesticks.rss',
  'https://www.comicsrss.com/rss/inkpen.rss',
  'https://www.comicsrss.com/rss/inspector-dangers-crime-quiz.rss',
  'https://www.comicsrss.com/rss/Intelligent.rss',
  'https://www.comicsrss.com/rss/invisible-bread.rss',
  'https://www.comicsrss.com/rss/itsallaboutyou.rss',
  'https://www.comicsrss.com/rss/jackohman.rss',
  'https://www.comicsrss.com/rss/jake-likes-onions.rss',
  'https://www.comicsrss.com/rss/janesworld.rss',
  'https://www.comicsrss.com/rss/jeffdanziger.rss',
  'https://www.comicsrss.com/rss/jeffstahler.rss',
  'https://www.comicsrss.com/rss/jen-sorensen.rss',
  'https://www.comicsrss.com/rss/jerryholbert.rss',
  'https://www.comicsrss.com/rss/humorcartoon.rss',
  'https://www.comicsrss.com/rss/jerry-king-comics.rss',
  'https://www.comicsrss.com/rss/jetpack-jr.rss',
  'https://www.comicsrss.com/rss/jim-benton-cartoons.rss',
  'https://www.comicsrss.com/rss/jimmorin.rss',
  'https://www.comicsrss.com/rss/jimsjournal.rss',
  'https://www.comicsrss.com/rss/jimmy-margulies.rss',
  'https://www.comicsrss.com/rss/joe-heller.rss',
  'https://www.comicsrss.com/rss/joevanilla.rss',
  'https://www.comicsrss.com/rss/joelpett.rss',
  'https://www.comicsrss.com/rss/joey-alison-sayers-comics.rss',
  'https://www.comicsrss.com/rss/john-branch.rss',
  'https://www.comicsrss.com/rss/johndeering.rss',
  'https://www.comicsrss.com/rss/johnny-hazard.rss',
  'https://www.comicsrss.com/rss/judge-parker.rss',
  'https://www.comicsrss.com/rss/judge-parker-1.rss',
  'https://www.comicsrss.com/rss/jumpstart.rss',
  'https://www.comicsrss.com/rss/jungle-jim-sundays.rss',
  'https://www.comicsrss.com/rss/junk-drawer.rss',
  'https://www.comicsrss.com/rss/just-say-uncle.rss',
  'https://www.comicsrss.com/rss/katzenjammer-kids.rss',
  'https://www.comicsrss.com/rss/katzenjammer-kids-sundays.rss',
  'https://www.comicsrss.com/rss/kencatalino.rss',
  'https://www.comicsrss.com/rss/kevin-and-kell.rss',
  'https://www.comicsrss.com/rss/kal.rss',
  'https://www.comicsrss.com/rss/kevinkallaugher.rss',
  'https://www.comicsrss.com/rss/kevin-necessary-editorial-cartoons.rss',
  'https://www.comicsrss.com/rss/kid-beowulf.rss',
  'https://www.comicsrss.com/rss/kid-shay-comics.rss',
  'https://www.comicsrss.com/rss/kidspot.rss',
  'https://www.comicsrss.com/rss/kidtown.rss',
  'https://www.comicsrss.com/rss/king-of-the-royal-mounted.rss',
  'https://www.comicsrss.com/rss/kirk-walters.rss',
  'https://www.comicsrss.com/rss/kitncarlyle.rss',
  'https://www.comicsrss.com/rss/kitchen-capers.rss',
  'https://www.comicsrss.com/rss/kliban.rss',
  'https://www.comicsrss.com/rss/klibans-cats.rss',
  'https://www.comicsrss.com/rss/krazy-kat.rss',
  'https://www.comicsrss.com/rss/lacucaracha.rss',
  'https://www.comicsrss.com/rss/laloalcaraz.rss',
  'https://www.comicsrss.com/rss/lards-world-peace-tips.rss',
  'https://www.comicsrss.com/rss/lastkiss.rss',
  'https://www.comicsrss.com/rss/laughing-redhead-comics.rss',
  'https://www.comicsrss.com/rss/lay-lines.rss',
  'https://www.comicsrss.com/rss/learn-to-speak-cat.rss',
  'https://www.comicsrss.com/rss/lee-judge.rss',
  'https://www.comicsrss.com/rss/legalization-nation.rss',
  'https://www.comicsrss.com/rss/Legend-of-Bill.rss',
  'https://www.comicsrss.com/rss/legends-in-the-heights.rss',
  'https://www.comicsrss.com/rss/lil-abner.rss',
  'https://www.comicsrss.com/rss/libertymeadows.rss',
  'https://www.comicsrss.com/rss/life-on-earth.rss',
  'https://www.comicsrss.com/rss/lil-donnie.rss',
  'https://www.comicsrss.com/rss/lio.rss',
  'https://www.comicsrss.com/rss/lisabenson.rss',
  'https://www.comicsrss.com/rss/littledoglost.rss',
  'https://www.comicsrss.com/rss/little-fried-chicken-and-sushi.rss',
  'https://www.comicsrss.com/rss/little-iodine-sundays.rss',
  'https://www.comicsrss.com/rss/little-nemo.rss',
  'https://www.comicsrss.com/rss/liz-climo-cartoons.rss',
  'https://www.comicsrss.com/rss/lola.rss',
  'https://www.comicsrss.com/rss/long-story-short.rss',
  'https://www.comicsrss.com/rss/looks-good-on-paper.rss',
  'https://www.comicsrss.com/rss/looseparts.rss',
  'https://www.comicsrss.com/rss/lostsheep.rss',
  'https://www.comicsrss.com/rss/lostsideofsuburbia.rss',
  'https://www.comicsrss.com/rss/luann.rss',
  'https://www.comicsrss.com/rss/luann-againn.rss',
  'https://www.comicsrss.com/rss/luckycow.rss',
  'https://www.comicsrss.com/rss/lug-nuts.rss',
  'https://www.comicsrss.com/rss/lukey-mcgarrys-tldr.rss',
  'https://www.comicsrss.com/rss/lunarbaboon.rss',
  'https://www.comicsrss.com/rss/m2bulls.rss',
  'https://www.comicsrss.com/rss/macanudo.rss',
  'https://www.comicsrss.com/rss/magicinaminute.rss',
  'https://www.comicsrss.com/rss/magnificatz.rss',
  'https://www.comicsrss.com/rss/maintaining.rss',
  'https://www.comicsrss.com/rss/making-it.rss',
  'https://www.comicsrss.com/rss/mallardfillmore.rss',
  'https://www.comicsrss.com/rss/mandrake-the-magician.rss',
  'https://www.comicsrss.com/rss/mandrake-the-magician-1.rss',
  'https://www.comicsrss.com/rss/mandrake-the-magician-sundays.rss',
  'https://www.comicsrss.com/rss/mannequin-on-the-moon.rss',
  'https://www.comicsrss.com/rss/mara-llave-keeper-of-time.rss',
  'https://www.comicsrss.com/rss/marias-day.rss',
  'https://www.comicsrss.com/rss/mark-trail.rss',
  'https://www.comicsrss.com/rss/Mark-Trail-Vintage.rss',
  'https://www.comicsrss.com/rss/marmaduke.rss',
  'https://www.comicsrss.com/rss/marshallramsey.rss',
  'https://www.comicsrss.com/rss/marvin.rss',
  'https://www.comicsrss.com/rss/mary-worth.rss',
  'https://www.comicsrss.com/rss/masterstrokes.rss',
  'https://www.comicsrss.com/rss/matt-bors.rss',
  'https://www.comicsrss.com/rss/mattdavies.rss',
  'https://www.comicsrss.com/rss/mattwuerker.rss',
  'https://www.comicsrss.com/rss/mazetoons-puzzle.rss',
  'https://www.comicsrss.com/rss/medium-large.rss',
  'https://www.comicsrss.com/rss/meg-classics.rss',
  'https://www.comicsrss.com/rss/mercworks.rss',
  'https://www.comicsrss.com/rss/messy-cow.rss',
  'https://www.comicsrss.com/rss/mexikid-stories.rss',
  'https://www.comicsrss.com/rss/michael-andrew.rss',
  'https://www.comicsrss.com/rss/michaelramirez.rss',
  'https://www.comicsrss.com/rss/microcosm.rss',
  'https://www.comicsrss.com/rss/mike-beckom.rss',
  'https://www.comicsrss.com/rss/mike-du-jour.rss',
  'https://www.comicsrss.com/rss/mike-lester.rss',
  'https://www.comicsrss.com/rss/mikeluckovich.rss',
  'https://www.comicsrss.com/rss/mike-peters.rss',
  'https://www.comicsrss.com/rss/mike-shelton.rss',
  'https://www.comicsrss.com/rss/mike-smith.rss',
  'https://www.comicsrss.com/rss/minimumsecurity.rss',
  'https://www.comicsrss.com/rss/miss-peach.rss',
  'https://www.comicsrss.com/rss/mo.rss',
  'https://www.comicsrss.com/rss/moderately-confused.rss',
  'https://www.comicsrss.com/rss/moms-cancer.rss',
  'https://www.comicsrss.com/rss/momma.rss',
  'https://www.comicsrss.com/rss/monty.rss',
  'https://www.comicsrss.com/rss/moose-and-molly.rss',
  'https://www.comicsrss.com/rss/mother-goose-grimm.rss',
  'https://www.comicsrss.com/rss/mother-goose-and-grimm.rss',
  'https://www.comicsrss.com/rss/motley-classics.rss',
  'https://www.comicsrss.com/rss/mr-lowe.rss',
  'https://www.comicsrss.com/rss/mtpleasant.rss',
  'https://www.comicsrss.com/rss/mustard-and-boloney.rss',
  'https://www.comicsrss.com/rss/muttandjeff.rss',
  'https://www.comicsrss.com/rss/mutts.rss',
  'https://www.comicsrss.com/rss/mycage.rss',
  'https://www.comicsrss.com/rss/my-dad-is-dracula.rss',
  'https://www.comicsrss.com/rss/mythtickle.rss',
  'https://www.comicsrss.com/rss/nancy.rss',
  'https://www.comicsrss.com/rss/nancy-classics.rss',
  'https://www.comicsrss.com/rss/nestheads.rss',
  'https://www.comicsrss.com/rss/neurotica.rss',
  'https://www.comicsrss.com/rss/thenewadventuresofqueenvictoria.rss',
  'https://www.comicsrss.com/rss/next-door-neighbors.rss',
  'https://www.comicsrss.com/rss/nick-and-zuzu.rss',
  'https://www.comicsrss.com/rss/nickanderson.rss',
  'https://www.comicsrss.com/rss/nonsequitur.rss',
  'https://www.comicsrss.com/rss/not-invented-here.rss',
  'https://www.comicsrss.com/rss/nothing-is-not-something.rss',
  'https://www.comicsrss.com/rss/now-recharging.rss',
  'https://www.comicsrss.com/rss/offthemark.rss',
  'https://www.comicsrss.com/rss/office-hours.rss',
  'https://www.comicsrss.com/rss/oh-brother.rss',
  'https://www.comicsrss.com/rss/Olive-Popeye.rss',
  'https://www.comicsrss.com/rss/ollie-and-quentin.rss',
  'https://www.comicsrss.com/rss/onaclaireday.rss',
  'https://www.comicsrss.com/rss/on-the-fastrack.rss',
  'https://www.comicsrss.com/rss/onebighappy.rss',
  'https://www.comicsrss.com/rss/ordinary-bill.rss',
  'https://www.comicsrss.com/rss/origins-of-the-sunday-comics.rss',
  'https://www.comicsrss.com/rss/our-super-adventure.rss',
  'https://www.comicsrss.com/rss/outofthegenepool.rss',
  'https://www.comicsrss.com/rss/outland.rss',
  'https://www.comicsrss.com/rss/overthehedge.rss',
  'https://www.comicsrss.com/rss/overboard.rss',
  'https://www.comicsrss.com/rss/ozy-and-millie.rss',
  'https://www.comicsrss.com/rss/pardon-my-planet.rss',
  'https://www.comicsrss.com/rss/patoliphant.rss',
  'https://www.comicsrss.com/rss/paulszep.rss',
  'https://www.comicsrss.com/rss/pcandpixel.rss',
  'https://www.comicsrss.com/rss/peanuts.rss',
  'https://www.comicsrss.com/rss/peanuts-begins.rss',
  'https://www.comicsrss.com/rss/pearlsbeforeswine.rss',
  'https://www.comicsrss.com/rss/pedroxmolina.rss',
  'https://www.comicsrss.com/rss/perry-bible-fellowship.rss',
  'https://www.comicsrss.com/rss/petunia-and-dre.rss',
  'https://www.comicsrss.com/rss/phil-hands.rss',
  'https://www.comicsrss.com/rss/phoebe-and-her-unicorn.rss',
  'https://www.comicsrss.com/rss/pibgorn.rss',
  'https://www.comicsrss.com/rss/pibgornsketches.rss',
  'https://www.comicsrss.com/rss/pickles.rss',
  'https://www.comicsrss.com/rss/pictures-in-boxes.rss',
  'https://www.comicsrss.com/rss/pie-comic.rss',
  'https://www.comicsrss.com/rss/pinkerton.rss',
  'https://www.comicsrss.com/rss/pirate-mike.rss',
  'https://www.comicsrss.com/rss/please-keep-warm.rss',
  'https://www.comicsrss.com/rss/please-listen-to-me.rss',
  'https://www.comicsrss.com/rss/pluggers.rss',
  'https://www.comicsrss.com/rss/poochcafe.rss',
  'https://www.comicsrss.com/rss/poorcraft.rss',
  'https://www.comicsrss.com/rss/poorly-drawn-lines.rss',
  'https://www.comicsrss.com/rss/pop-culture-shock-therapy.rss',
  'https://www.comicsrss.com/rss/popeye.rss',
  'https://www.comicsrss.com/rss/popeyes-cartoon-club.rss',
  'https://www.comicsrss.com/rss/poptropica.rss',
  'https://www.comicsrss.com/rss/pot-shots.rss',
  'https://www.comicsrss.com/rss/preteena.rss',
  'https://www.comicsrss.com/rss/pricklycity.rss',
  'https://www.comicsrss.com/rss/prince-valiant.rss',
  'https://www.comicsrss.com/rss/prince-valiant-sundays.rss',
  'https://www.comicsrss.com/rss/promises-promises.rss',
  'https://www.comicsrss.com/rss/pros-cons.rss',
  'https://www.comicsrss.com/rss/questionable-quotebook.rss',
  'https://www.comicsrss.com/rss/quincy.rss',
  'https://www.comicsrss.com/rss/rabbitsagainstmagic.rss',
  'https://www.comicsrss.com/rss/radio-patrol.rss',
  'https://www.comicsrss.com/rss/rae-the-doe.rss',
  'https://www.comicsrss.com/rss/raising-duncan.rss',
  'https://www.comicsrss.com/rss/randolphitch.rss',
  'https://www.comicsrss.com/rss/reallifeadventures.rss',
  'https://www.comicsrss.com/rss/realitycheck.rss',
  'https://www.comicsrss.com/rss/rebecca-hendin.rss',
  'https://www.comicsrss.com/rss/redandrover.rss',
  'https://www.comicsrss.com/rss/redmeat.rss',
  'https://www.comicsrss.com/rss/replyall.rss',
  'https://www.comicsrss.com/rss/reply-all-lite.rss',
  'https://www.comicsrss.com/rss/rex-morgan-m-d.rss',
  'https://www.comicsrss.com/rss/rhymeswithorange.rss',
  'https://www.comicsrss.com/rss/richards-poor-almanac.rss',
  'https://www.comicsrss.com/rss/riphaywire.rss',
  'https://www.comicsrss.com/rss/rip-kirby.rss',
  'https://www.comicsrss.com/rss/ripleysbelieveitornot.rss',
  'https://www.comicsrss.com/rss/robrogers.rss',
  'https://www.comicsrss.com/rss/robbie-and-bobby.rss',
  'https://www.comicsrss.com/rss/robert-ariail.rss',
  'https://www.comicsrss.com/rss/rosa-dominical.rss',
  'https://www.comicsrss.com/rss/roseisrose.rss',
  'https://www.comicsrss.com/rss/rosebuds.rss',
  'https://www.comicsrss.com/rss/rosebuds-en-espanol.rss',
  'https://www.comicsrss.com/rss/rubes.rss',
  'https://www.comicsrss.com/rss/rudypark.rss',
  'https://www.comicsrss.com/rss/rugrats.rss',
  'https://www.comicsrss.com/rss/safe-havens.rss',
  'https://www.comicsrss.com/rss/sales.rss',
  'https://www.comicsrss.com/rss/sally-forth.rss',
  'https://www.comicsrss.com/rss/salt-n-pepper.rss',
  'https://www.comicsrss.com/rss/sam-and-silo.rss',
  'https://www.comicsrss.com/rss/sarahs-scribbles.rss',
  'https://www.comicsrss.com/rss/saturday-morning-breakfast-cereal.rss',
  'https://www.comicsrss.com/rss/savage-chickens.rss',
  'https://www.comicsrss.com/rss/scarygary.rss',
  'https://www.comicsrss.com/rss/scenes-from-a-multiverse.rss',
  'https://www.comicsrss.com/rss/scottstantis.rss',
  'https://www.comicsrss.com/rss/secret-agent-x-9.rss',
  'https://www.comicsrss.com/rss/sheldon.rss',
  'https://www.comicsrss.com/rss/shen-comix.rss',
  'https://www.comicsrss.com/rss/shermanslagoon.rss',
  'https://www.comicsrss.com/rss/shirley-and-son-classics.rss',
  'https://www.comicsrss.com/rss/shoe.rss',
  'https://www.comicsrss.com/rss/shoecabbage.rss',
  'https://www.comicsrss.com/rss/shortcuts.rss',
  'https://www.comicsrss.com/rss/shrimpandgrits.rss',
  'https://www.comicsrss.com/rss/shutterbug-follies.rss',
  'https://www.comicsrss.com/rss/signewilkinson.rss',
  'https://www.comicsrss.com/rss/six-chix.rss',
  'https://www.comicsrss.com/rss/sketchshark-comics.rss',
  'https://www.comicsrss.com/rss/sketchy-chics.rss',
  'https://www.comicsrss.com/rss/skinhorse.rss',
  'https://www.comicsrss.com/rss/skippy.rss',
  'https://www.comicsrss.com/rss/slylock-fox-and-comics-for-kids.rss',
  'https://www.comicsrss.com/rss/small-potatoes.rss',
  'https://www.comicsrss.com/rss/snow-sez.rss',
  'https://www.comicsrss.com/rss/snowflakes.rss',
  'https://www.comicsrss.com/rss/spectickles.rss',
  'https://www.comicsrss.com/rss/speechless.rss',
  'https://www.comicsrss.com/rss/speedbump.rss',
  'https://www.comicsrss.com/rss/spirit-of-the-staircase.rss',
  'https://www.comicsrss.com/rss/spot-the-frog.rss',
  'https://www.comicsrss.com/rss/starling.rss',
  'https://www.comicsrss.com/rss/stevebenson.rss',
  'https://www.comicsrss.com/rss/stevebreen.rss',
  'https://www.comicsrss.com/rss/stevekelley.rss',
  'https://www.comicsrss.com/rss/sticky-comics.rss',
  'https://www.comicsrss.com/rss/stonesoup.rss',
  'https://www.comicsrss.com/rss/stone-soup-classics.rss',
  'https://www.comicsrss.com/rss/strangebrew.rss',
  'https://www.comicsrss.com/rss/stuartcarlson.rss',
  'https://www.comicsrss.com/rss/studio-jantze.rss',
  'https://www.comicsrss.com/rss/sunny-street.rss',
  'https://www.comicsrss.com/rss/sunshine-state.rss',
  'https://www.comicsrss.com/rss/super-fun-pak-comix.rss',
  'https://www.comicsrss.com/rss/swan-eaters.rss',
  'https://www.comicsrss.com/rss/sweet-and-sour-pork.rss',
  'https://www.comicsrss.com/rss/sylvia.rss',
  'https://www.comicsrss.com/rss/takeitfromthetinkersons.rss',
  'https://www.comicsrss.com/rss/tankmcnamara.rss',
  'https://www.comicsrss.com/rss/tarzan.rss',
  'https://www.comicsrss.com/rss/ted-rall.rss',
  'https://www.comicsrss.com/rss/ten-cats.rss',
  'https://www.comicsrss.com/rss/tex.rss',
  'https://www.comicsrss.com/rss/texts-from-mittens.rss',
  'https://www.comicsrss.com/rss/that-is-priceless.rss',
  'https://www.comicsrss.com/rss/that-new-carl-smell.rss',
  'https://www.comicsrss.com/rss/thats-life.rss',
  'https://www.comicsrss.com/rss/thatababy.rss',
  'https://www.comicsrss.com/rss/academiawaltz.rss',
  'https://www.comicsrss.com/rss/the-adventures-of-business-cat.rss',
  'https://www.comicsrss.com/rss/theargylesweater.rss',
  'https://www.comicsrss.com/rss/the-awkward-yeti.rss',
  'https://www.comicsrss.com/rss/thebarn.rss',
  'https://www.comicsrss.com/rss/the-bent-pinky.rss',
  'https://www.comicsrss.com/rss/the-best-medicine.rss',
  'https://www.comicsrss.com/rss/thebigpicture.rss',
  'https://www.comicsrss.com/rss/boondocks.rss',
  'https://www.comicsrss.com/rss/the-born-loser.rss',
  'https://www.comicsrss.com/rss/thebuckets.rss',
  'https://www.comicsrss.com/rss/thecity.rss',
  'https://www.comicsrss.com/rss/the-comic-strip-that-has-a-finale-every-day.rss',
  'https://www.comicsrss.com/rss/the-conjurers.rss',
  'https://www.comicsrss.com/rss/the-creeps.rss',
  'https://www.comicsrss.com/rss/the-daily-drawing.rss',
  'https://www.comicsrss.com/rss/dinetteset.rss',
  'https://www.comicsrss.com/rss/thedoozies.rss',
  'https://www.comicsrss.com/rss/duplex.rss',
  'https://www.comicsrss.com/rss/theelderberries.rss',
  'https://www.comicsrss.com/rss/theflyingmccoys.rss',
  'https://www.comicsrss.com/rss/thefortuneteller.rss',
  'https://www.comicsrss.com/rss/thefuscobrothers.rss',
  'https://www.comicsrss.com/rss/the-gentlemans-armchair.rss',
  'https://www.comicsrss.com/rss/thegrizzwells.rss',
  'https://www.comicsrss.com/rss/humble-stumble.rss',
  'https://www.comicsrss.com/rss/thekchronicles.rss',
  'https://www.comicsrss.com/rss/theknightlife.rss',
  'https://www.comicsrss.com/rss/the-last-mechanical-monster.rss',
  'https://www.comicsrss.com/rss/leftyboscopictureshow.rss',
  'https://www.comicsrss.com/rss/the-little-king.rss',
  'https://www.comicsrss.com/rss/lockhorns.rss',
  'https://www.comicsrss.com/rss/thelockhorns.rss',
  'https://www.comicsrss.com/rss/the-lost-bear.rss',
  'https://www.comicsrss.com/rss/the-martian-confederacy.rss',
  'https://www.comicsrss.com/rss/meaningoflila.rss',
  'https://www.comicsrss.com/rss/the-middle-age.rss',
  'https://www.comicsrss.com/rss/themiddletons.rss',
  'https://www.comicsrss.com/rss/the-norm-4-0.rss',
  'https://www.comicsrss.com/rss/thenorm.rss',
  'https://www.comicsrss.com/rss/theothercoast.rss',
  'https://www.comicsrss.com/rss/the-other-end.rss',
  'https://www.comicsrss.com/rss/pajama-diaries.rss',
  'https://www.comicsrss.com/rss/phantom.rss',
  'https://www.comicsrss.com/rss/phantom-1.rss',
  'https://www.comicsrss.com/rss/phantom-sundays.rss',
  'https://www.comicsrss.com/rss/the-pigeon-gazette.rss',
  'https://www.comicsrss.com/rss/the-quixote-syndrome.rss',
  'https://www.comicsrss.com/rss/the-sunshine-club.rss',
  'https://www.comicsrss.com/rss/upside-down-world-of-gustave-verbeek.rss',
  'https://www.comicsrss.com/rss/the-wandering-melon.rss',
  'https://www.comicsrss.com/rss/the-worried-well.rss',
  'https://www.comicsrss.com/rss/the-worst-thing-ive-ever-done.rss',
  'https://www.comicsrss.com/rss/thimble-theater.rss',
  'https://www.comicsrss.com/rss/thinlines.rss',
  'https://www.comicsrss.com/rss/tiger.rss',
  'https://www.comicsrss.com/rss/tiger-1.rss',
  'https://www.comicsrss.com/rss/tiger-sundays.rss',
  'https://www.comicsrss.com/rss/tim-campbell.rss',
  'https://www.comicsrss.com/rss/tim-eagan.rss',
  'https://www.comicsrss.com/rss/tina-s-groove.rss',
  'https://www.comicsrss.com/rss/tinysepuku.rss',
  'https://www.comicsrss.com/rss/toby.rss',
  'https://www.comicsrss.com/rss/todays-szep.rss',
  'https://www.comicsrss.com/rss/todd-the-dinosaur.rss',
  'https://www.comicsrss.com/rss/tom-stiglich.rss',
  'https://www.comicsrss.com/rss/tomthedancingbug.rss',
  'https://www.comicsrss.com/rss/tomtoles.rss',
  'https://www.comicsrss.com/rss/toomuchcoffeeman.rss',
  'https://www.comicsrss.com/rss/tough-town.rss',
  'https://www.comicsrss.com/rss/trivquiz.rss',
  'https://www.comicsrss.com/rss/truth-facts.rss',
  'https://www.comicsrss.com/rss/two-party-opera.rss',
  'https://www.comicsrss.com/rss/us-acres.rss',
  'https://www.comicsrss.com/rss/uncleartsfunland.rss',
  'https://www.comicsrss.com/rss/underpants-and-overbites.rss',
  'https://www.comicsrss.com/rss/understanding-chaos.rss',
  'https://www.comicsrss.com/rss/unstrange-phenomena.rss',
  'https://www.comicsrss.com/rss/up-and-out.rss',
  'https://www.comicsrss.com/rss/viewsoftheworld.rss',
  'https://www.comicsrss.com/rss/viewsafrica.rss',
  'https://www.comicsrss.com/rss/viewsamerica.rss',
  'https://www.comicsrss.com/rss/viewsasia.rss',
  'https://www.comicsrss.com/rss/viewsbusiness.rss',
  'https://www.comicsrss.com/rss/viewseurope.rss',
  'https://www.comicsrss.com/rss/viewslatinamerica.rss',
  'https://www.comicsrss.com/rss/viewsmideast.rss',
  'https://www.comicsrss.com/rss/viivi-and-wagner.rss',
  'https://www.comicsrss.com/rss/wtduck.rss',
  'https://www.comicsrss.com/rss/wallace-the-brave.rss',
  'https://www.comicsrss.com/rss/walthandelsman.rss',
  'https://www.comicsrss.com/rss/warped.rss',
  'https://www.comicsrss.com/rss/watchyourhead.rss',
  'https://www.comicsrss.com/rss/wawawiwa.rss',
  'https://www.comicsrss.com/rss/waynovision.rss',
  'https://www.comicsrss.com/rss/we-the-robots.rss',
  'https://www.comicsrss.com/rss/webcomic-name.rss',
  'https://www.comicsrss.com/rss/weepals.rss',
  'https://www.comicsrss.com/rss/whyatt-cartoons.rss',
  'https://www.comicsrss.com/rss/widdershins.rss',
  'https://www.comicsrss.com/rss/wide-open.rss',
  'https://www.comicsrss.com/rss/drewlitton.rss',
  'https://www.comicsrss.com/rss/winston.rss',
  'https://www.comicsrss.com/rss/witoftheworld.rss',
  'https://www.comicsrss.com/rss/wizardofid.rss',
  'https://www.comicsrss.com/rss/wizard-of-id-classics.rss',
  'https://www.comicsrss.com/rss/wondermark.rss',
  'https://www.comicsrss.com/rss/working-daze.rss',
  'https://www.comicsrss.com/rss/workingitout.rss',
  'https://www.comicsrss.com/rss/world-of-wonder.rss',
  'https://www.comicsrss.com/rss/worry-lines.rss',
  'https://www.comicsrss.com/rss/wrong-hands.rss',
  'https://www.comicsrss.com/rss/wumo.rss',
  'https://www.comicsrss.com/rss/yaffle.rss',
  'https://www.comicsrss.com/rss/yesimhotinthis.rss',
  'https://www.comicsrss.com/rss/zackhill.rss',
  'https://www.comicsrss.com/rss/zen-pencils.rss',
  'https://www.comicsrss.com/rss/ziggy.rss',
  'https://www.comicsrss.com/rss/zippy-the-pinhead.rss',
  'https://www.comicsrss.com/rss/zits.rss',
]
featRSS.forEach(loadSomeStuff)
async function loadSomeStuff(index, item) {
var xmlhttp = new XMLHttpRequest();
xmlhttp.onreadystatechange = function() {
if (this.readyState == 4 && this.status == 200) {
var obj = this.responseText
var div = document.createElement("div");
div.innerHTML =
`<div class="card"><p></p>${obj[0].title}</div>`
document.getElementById("favs").appendChild(div);
if( /Android|webOS|iPhone|iPad|iPod|BlackBerry|IEMobile|Opera Mini/i.test(navigator.userAgent) ) {
document.getElementById('explore').style.width = "100%";
document.getElementById('explore-text').style.fontSize = "5vw";
}
}
};
xmlhttp.open("GET", "https://b0632d52-e7e1-4d62-86ee-32e2f7ced6f3.id.repl.co/rss?url=" + index, true);
document.write("https://b0632d52-e7e1-4d62-86ee-32e2f7ced6f3.id.repl.co/rss?url=" + index)
await xmlhttp.send();
}
</script>