<title>Passband</title>
<link rel="shortcut icon" href="/logo.png" />
<p style="font-size:3em;font-weight:300;text-align:center;text-shadow:.5px .5px #000;font-family:courier"><span style="color:white">passband</span></p>
<%- include('partials/header') %>
</div>
<br>
<div style="margin-left:25%;margin-right:25%" class="res" id="favs">
<div id='guest' style='font-size:1vw'><b>Passband is on Hiatus</b><hr></hr><p>Due to lack of intrest, Passband is officially on hiatus. It will not recieve any updates until further stated otherwise. Thanks for understanding.</p></div>
</div>
<br>
<div style="margin-left:25%;margin-right:25%" class="res" id="favs">
<div id='guest' style='font-size:1vw'><b>About Passband</b><hr></hr><p>Passband is a free and simple sevice to play radio stations over the internet. We use the <a href="https://radio-browser.info" target="_blank">Radio Browser API</a>. This is not meant to be a ComicServer sequel or service, this is just an original service under the comicserver.org domain. We hope you enjoy this brand-new service.<br></br><i>Last updated with Passband One (v1, 2022.07.18)</i></p></div>
</div>
<script>
if( /Android|webOS|iPhone|iPad|iPod|BlackBerry|IEMobile|Opera Mini/i.test(navigator.userAgent) ) {
document.getElementById('guest').style.fontSize = "3vw";
document.getElementById('comiccer').style.fontSize = "5vw";
}
</script>