<p onclick="window.location='/'" style="font-size:3em;font-weight:300;text-align:center;text-shadow:.5px .5px #000"><span style="color:white">Comic</span><span style="color:#3699EC">server</span></p>
<%- include('header') %>
<title>404</title>
<h1 style="text-align:center">Comic Not Found.</h1>