<p style="font-size:3em;font-weight:300;text-align:center;text-shadow:.5px .5px #000"><span style="color:white">Comic</span><span style="color:#3699EC">server</span></p>
<%- include ("header") %>
<div style="margin-left:25%;margin-right:25%">
<br></br>
<title>ComicServer</title>
<b id="slot1" onclick="setFav(this.id)">Slot 1</b>
<hr></hr>
<div class="r" id="rss1"><ul></ul></div>
<br></br>
<b id="slot2" onclick="setFav(this.id)">Slot 2</b>
<hr></hr>
<div class="r" id="rss2"><ul></ul></div>
<br></br>
<b id="slot3" onclick="setFav(this.id)">Slot 3</b>
<hr></hr>
<div class="r" id="rss3"><ul></ul></div>
<br></br>
<b id="slot4" onclick="setFav(this.id)">Slot 4</b>
<hr></hr>
<div class="r" id="rss4"><ul></ul></div>
<br></br>
<b id="slot5" onclick="setFav(this.id)">Slot 5</b>
<hr></hr>
<div class="r" id="rss5"><ul></ul></div>
<br></br>
<b id="slot6" onclick="setFav(this.id)">Slot 6</b>
<hr></hr>
<div class="r" id="rss6"><ul></ul></div>
<br></br>
<b id="slot7" onclick="setFav(this.id)">Slot 7</b>
<hr></hr>
<div class="r" id="rss7"><ul></ul></div>
<br></br>
<b id="slot8" onclick="setFav(this.id)">Slot 8</b>
<hr></hr>
<div class="r" id="rss8"><ul></ul></div>
<br></br>
<p style="color:red;text-align:center" onclick="delFav()">Delete</p>
<div id="feed-textarea"><ul></ul></div>
<script src="https://assets.comicserver.org/js/rss.js"></script>
<%- include ("script") %>
