<body>
  <style>
  .center {
display: block;
  margin-left: auto;
  margin-right: auto;
  width: 70%;
}
.centerr {
  display: block;
  margin-left: -23%;
  margin-right: auto;
  width: 100%;
}
.alertt {
position: relative;
padding: 0.75rem 1.25rem;
margin-bottom: 1rem;
border: 1px solid transparent;
border-radius: 0.25rem;
background-color: #3699EC
}
</style>
<link rel="shortcut icon" href="https://assets.comicserver.org/img/Logos/ComicServer/cslogo.png" />
<title>ComicServer App</title>
  <div>
  <div class="container-favs center">
  <a href="/">
  <div class="center logo"></div>
  </a>
  <h1 style="text-align:center" class="footer">Cesium/Vista (v5.3)</h1>
  <div>
  <div>
  <p class="center footer"><b>Vista (c2022.1.1): Future comics (+1 month of comic strips from a wide selection) have been added and Favorite Comics have been put into beta.</div>
<div>
</div>
    </div>

      </div>
</div>
</div>
<%- include("partials/index") %>