<title>ComicServer</title>
<link rel='shortcut icon' href='https://old.comicserver.org/img/core.png' />
<div class="mydiv" id="myDiv" style="border:solid 5px var(--ba);border-radius:5px;margin:center;width:50%">
<h1 style="padding-left: 10px;padding-right: 10px;font-family:Magnolia Script">Welcome to Comicserver</h1>
<p style="padding: 10px"><form style="white-space:nowrap" method='get' onsubmit='return submitcheck(this);'><input type='text' id='comic' name='wiz' placeholder='Enter a username to' style='width:35%;' name='sub' required><input type='submit' class='button' value='Get Started' style="text-align:left" id='addc' onclick='slotAdd(wiz)'></form>
<p style="padding: 10px;">This website is an easy and minimalistic way to view comic strips, anywhere, anytime. You can view comics of almost any date with our comic viewer. You can add favorites that are displayed at login on the homepage with our redesigned personalization menu to make ComicServer uniquely yours. All this and more logged in.</p>
<br>
<i style="padding-left: 10px;padding-right: 10px;">Last Updated with Muncie 4 (v6.3.0)</i>
</div>
<script>
      function slotAdd(element)
      {
      if(element.value === ""){
      return;
      }
      if(element.value === " "){
      return;
      }
      if(element.value === "‎"){
      return;
      }
        const emm = element.value
        var urlstring = `/tour?uname=${emm}`;
        console.log(urlstring)
        window.location.replace(urlstring);
      }
      function submitcheck(element)
      {
        return false;
      }
</script>
<style>
body {
  display:flex;
  margin:0;
  flex-direction:column;
}

.mydiv {
  margin:auto;
}
</style>
      <script>
      function clik(element)
      {
      if(element.value === ""){
      return;
      }
      if(element.value === " "){
      return;
      }
      if(element.value === "‎"){
      return;
      }
        var urlstring = `/load/${element.value}`;
        window.location.replace(urlstring);
      }
if( /Android|webOS|iPhone|iPad|iPod|BlackBerry|IEMobile|Opera Mini/i.test(navigator.userAgent) ) {
document.getElementById('myDiv').style.width = "100%"
document.getElementById('myDiv').style.fontSize = "5vw"
document.getElementById('myDiv').style.border = "none"
document.getElementById('myDiv').style.padding = "10px"

}
      </script>
<%- include('theme') %>
<%- include('iheader') %>