<script>
var array = ["amazing-spider-man", "arctic-circle", "barney-google-and-snuffy-smith", "beetle-bailey", "beetle-bailey-1", "between-friends", "bizarro", "blondie", "carpe-diem", "crankshaft", "crock", "curtis", "daddy-daze", "dennis-the-menace", "dustin", "edge-city", "flash-forward", "flash-gordon", "funky-winkerbean", "Funny_Online_Animals", "Gearhead_Gertie", "hagar-the-horrible", "hi-and-lois", "Intelligent", "judge-parker", "katzenjammer-kids", "kevin-and-kell", "Macanudo", "mallard-fillmore", "mandrake-the-magician-1", "mark-trail", "Marvin", "mary-worth", "moose-and-molly", "mother-goose-grimm", "mutts", "on-the-fastrack", "pardon-my-planet", "popeye", "popeyes-cartoon-club", "prince-valiant", "pros-cons", "rae-the-doe", "rex-morgan-m-d", "rhymes-with-orange", "safe-havens", "sales", 'sally-forth', "sam-and-silo", "sherman-s-lagoon", "shoe", "six-chix", "slylock-fox-and-comics-for-kids", "take-it-from-the-tinkersons", "brilliant-mind-of-edison-lee", "family-circus", "lockhorns", "pajama-diaries", "phantom", "tiger", "tinas-groove", "todd-the-dinosaur", "zippy-the-pinhead", "zits"];
const str = '<%= favs %>';
const favs = str.split(',')
const isValidUrl = url => {
  const regexp = /(ftp|http|https):\/\/(\w+:{0,1}\w*@)?(\S+)(:[0-9]+)?(\/|\/([\w#!:.?+=&%@!\-\/]))?/;
  return regexp.test(url);
}
function not(predicate) {
  return function() {
    return !predicate.apply(this, arguments);
  };
}
const validUrls = favs.filter(isValidUrl);
const validComics = favs.filter(not(isValidUrl));
validComics.forEach(comicLoad)
validUrls.forEach(customLoad)
async function comicLoad(index, item) {
var urll = "https://api.rss2json.com/v1/api.json?rss_url=https://comicsrss.com/rss/" + index + ".rss&api_key=n5q9v8nv91v1g0bmopaipuej366f6yximg3k5lli";
var url = urll.replace(/\s/g,"").toLowerCase();
var xmlhttp = new XMLHttpRequest();
xmlhttp.onreadystatechange = function() {
if (this.readyState == 4 && this.status == 200) {
var obj = JSON.parse(this.responseText);
var div = document.createElement("div");
div.innerHTML = `<b onclick='window.location="/load/${index}"' name="${index}">${obj.items[0].title}</b><hr style="background-color:var(--ba);height:1px;border:0;"><div class="r"><img src="${obj.items[0].thumbnail}"/></div><br><br>`
document.getElementById("favs").appendChild(div);
}
};
xmlhttp.open("GET", url, true);
await xmlhttp.send();
}
async function customLoad(index, item) {
let url = "https://api.rss2json.com/v1/api.json?rss_url=" + index + "&api_key=n5q9v8nv91v1g0bmopaipuej366f6yximg3k5lli";
var xmlhttp = new XMLHttpRequest();
xmlhttp.onreadystatechange = function() {
if (this.readyState == 4 && this.status == 200) {
var obj = JSON.parse(this.responseText);
var div = document.createElement("div");
div.innerHTML = `<b onclick='window.open("${obj.items[0].guid}")' name="${index}">${obj.items[0].title} by ${obj.items[0].author}</b><hr style="background-color:var(--ba);height:1px;border:0;"><div class="r">${obj.items[0].description}</div><br><br>`
document.getElementById("favs").appendChild(div);
}
};
xmlhttp.open("GET", url, true);
await xmlhttp.send();
}
</script>