<p style="text-align:center;font-size:1vw" id="copy">Comics &copy Andrews McMeel and King Features Syndicate</p>
<div class="main">
  <select id="selectBox" class="hello" onchange="changeFunc();" style="width:100%;text-align:center">
    <option disabled selected>Theme</option>
    <option value="basic">Basic</option>
    <option value="birch">Birch</option>
    <option value="blackout">Blackout</option>
    <option value="blast">Blast</option>
    <option value="auto">Computer Decided</option>
   </select>
    <form class="cents" method="post" onsubmit="return submitcheck(this);" name="viewgen">
        <input class="input" type="text" name="thingy" placeholder="Start with a Comic" required>
        <input type="submit" name="submitbutton" value="Go" onclick="clik(thingy);">
      </form>
      <script>
      function clik(element)
      {
      if(element.value === ""){
      return;
      }
      if(element.value === " "){
      return;
      }
      if(element.value === "‎"){
      return;
      }
        var urlstring = `/load/${element.value}`;
        window.location.replace(urlstring);
      }
      function submitcheck(element)
      {
        return false;
      }
      </script>
  <button id="prev" onclick="prevStrip();" style="display:none">Previous</button>
  <button id="random" onclick="shufStrip();" style="display:none">Shu-ffle</button>
  <button id="next" onclick="nextStrip();" style="display:none">Next</button>
</div>
<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<style>
.sticky {
  position: fixed;
  top: 0;
  width: 100%;
  height: 75%;
}
</style>
<link rel="shortcut icon" href="https://old.comicserver.org/img/core.png" />
</head>
<body>
</body>
</html>
<%- include('theme') %>
<script>
if( /Android|webOS|iPhone|iPad|iPod|BlackBerry|IEMobile|Opera Mini/i.test(navigator.userAgent) ) {
document.getElementById('copy').style.fontSize = "2vw";
}
</script>