<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Lobster&family=Maven+Pro&display=swap" rel="stylesheet">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">
<body id="email" style="background-color: #E3EBF8;font-family: Maven Pro, Verdana, sans-serif;padding: 1% 7px;">
<a href="https://www.comicserver.org" style="font-size:3em;font-weight:300;text-align:center;font-family:Lobster,  Helvetica;color:#2d2d2d;display: block;text-decoration:none;">Comicserver</a>
<div id="content">
<br>
<a href="https://comicserver.org/edit?daily=<%= email %>"style="font-weight:300;text-align:center;font-family:Maven Pro,  Helvetica;color:teal;display: block;text-decoration:none;">Sync your favorites!</a>
<br>
<h2 style="font-size: 2em;text-align:center;padding:1px;width:100%;margin-left:auto;margin-right:auto"><span style="padding-left:10px">Thanks for subscribing!</span></h2>
<br><br>
<div id="favs" style="padding:auto;margin-left:25%;margin-right:25%">
<p style="text-align:center">You have been added to the mailing list as a Daily-only account. This means that you will be emailed the comics that you picked, and will not be able to change them until you connect your email to ComicServer on web. You can sync with a ComicServer.org account above. Other than that, you're set and will be sent your first email with your favorites tomorrow.</p>

</div>
<br><br>
</div>
</body>