<title>ComicServer</title>
<link rel="icon" class="favicon">
<div style="height:50%">
<div class="strip" style="height:auto">
<div class="strip" style="height:auto"><p class="strip-p" style="font-size:2em;"><span style="color:white">Comic</span><span style="color:#3699EC">server</span></p>
<button class="tablinks" onclick="newTab(event, 'S')">Start</button>
  <button class="tablinks" onclick="newTab(event, 'C')">Cesium</button>
</div>

<div id="S" class="main-content">
  <br><p style="font-size:2em;">Start with a Comic</p></br>
  <form class="cents" method="post" onsubmit="return submitcheck(this);" name="viewgen">
  <input class="button-1 centerr" type="text" name="SelectedDate" placeholder="Comic Name" id="txtDate" required>
  <input class="button-1 centerr" type="submit" class="button-1"  name="submitbutton" class="btn btn-success" value="Go" onclick="clik(SelectedDate);">
</form>
<script>
function clik(element)
{
if(element.value === ""){
return;
}
if(element.value === " "){
return;
}
if(element.value === "‎"){
return;
}
  var urlstring = `search/${element.value}`;
  window.location.replace(urlstring);
}

function submitcheck(element)
{
  return false;
}
</script>
  <form class="cents" method="post" onsubmit="return submitcheck(this);" name="viewgen">
  <input class="button-1 centerr" type="text" name="FutureDate" placeholder="Future Comic Name" id="txtDate" required>
  <input class="button-1 centerr" type="submit" class="button-1"  name="submitbutton" class="btn btn-success" value="Go" onclick="klik(FutureDate);">
</form>
<script>
function klik(element)
{
if(element.value === ""){
return;
}
if(element.value === " "){
return;
}
if(element.value === "‎"){
return;
}
  var urlstring = `tomorrow/${element.value.replace(" ", "-")}`;
  window.location.replace(urlstring);
}

function submitcheck(element)
{
  return false;
}
</script>
</div>

<div id="C" class="main-content">
  <h2>Cesium/Meadow (v5.5)</h2>
  <textarea wrap="hard" rows="10" cols="50" readonly>After Valley's record breaking streak of 2 months as an unparalleled subversion, Meadow takes it's place. Meadow acts as a refresher to Cesium and ComicServer after the core idea of Cesium (the fluid, colorful design) was lost. Meadow not only picks up Valley's slack, it adds so much more. At first glance this version looks like an update to Cesium/Vista. At second, though, these minor details show up. Meadow brings the fantastic backend of Valley and pairs it with an upgraded Vista-like experience.</textarea>
</div>

<script>
function newTab(evt, cityName) {
  var i, tabcontent, tablinks;
  tabcontent = document.getElementsByClassName("main-content");
  for (i = 0; i < tabcontent.length; i++) {
    tabcontent[i].style.display = "none";
  }
  tablinks = document.getElementsByClassName("tablinks");
  for (i = 0; i < tablinks.length; i++) {
    tablinks[i].className = tablinks[i].className.replace(" active", "");
  }
  document.getElementById(cityName).style.display = "block";
  evt.currentTarget.className += " active";
}
window.onload = function() {
  newTab(event, 'S')
};
</script>
</div>
</div>
<%- include("theme") %>