<link rel="shortcut icon" href="https://comicserver.org/img/Logos/ComicServer/cslogo.png" />
<link id="stylesheet" rel="stylesheet" type="text/css" href="https://csapp.wel3com.repl.co/widget.css"/>
<style>
@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300&display=swap');
.card-title {
color: #fff
}
</style>
<title><%= title %></title>