<!DOCTYPE html>
<html>
<head>
<link href="https://fonts.googleapis.com/css2?family=Comfortaa:wght@300&display=swap" rel="stylesheet">
<link rel="shortcut icon" href="https://assets.comicserver.org/img/Logos/ComicServer/cslogo.png" />
<title>Cesium</title>
<style>
.logo {
content: url("https://assets.comicserver.org/img/Logos/ComicServer/darkhoriz.png");
width: 20%
}
button {
border: none;
background-color: inherit;
cursor: pointer;
padding: -4px -2px;
display: inline-block;
}
</style>
<div id="stsh">
<link href="https://assets.comicserver.org/css/core.css" rel="stylesheet">
</div>
</head>
<body>
<body oncontextmenu="return false;">
<div class="topnav">
<a href="/">
<img class="logo cents">
</a>
</div>
<div>‎</div>
<div class="bg-text">
<h2 class="etcetera">Cesium/Valley (v5.4)</h2>
<div>
<div class="versions center"><b>Cesium/Valley (c2022.1.20) is the second installment of ComicServer since the start of 2022. A new simplified experience brings the attention to phones and tablets, items that the user is more likely to open this site up on. We have mastered this experience by putting everything you need at your fingertips and nothing else.</b><hr>Vista (c2022.1.1, v5.3): Future comics (+1 month of comic strips from a wide selection) have been added and Favorite Comics have been put into beta.<hr>Coneflower (c2021.12.25, v5.2): Mostly bug fixes, but a major backend improvement that makes things shine!<hr>Cornflower (c2021.12.10, v5.1): The date picker is being pulled out of it's old-looking asthetic with custom styling to make it stand out.<hr>Cesium (c2021.12.1, v5): Cesium gives ComicServer it's refreshed personality, a mobile, on-the-go, friendly, and most of all, easy to use Funnies section of the newspaper, there when you need it.<hr>Slate (v4): Bootstrap utilizes a third-party CSS sheet to <i id="undo"><a href="#" onclick="themeChange()">simplify</a></i> the site to an extreme.<hr>Smokebomb (v3): This vanilla CSS sheet is easy to use and utilize. This, however, is a merger version from v2 to v4, so it won't last long.<hr>Wix (v2): This version utilizes the Wix website builder. This is the first major release of ComicServer.<hr>Google Sites [Classic] (v1): This website is the first release of ComicServer, and utilizes Adobe Flash Player for most content. We are in the middle of merging to HTML and others for content with this version, some beta versions are already on-site!<hr>Google Sites (Beta): Favorite Comics is a service to see popular comics on-site every day. We are utilizing Version One to view archives of Garfield and US Acres.</div>
</div>
<div>‎</div>
<div class="footer">
<p>Cesium Valley</p>
   <!-- <a href="#" onclick="snowStorm.toggleSnow();return false">Snow</a> -->
</div>
</html>
<div id="btstrp"></div>
<script>
function themeChange() {
const element = document.getElementById("btstrp");
const sheet = document.getElementById("stsh");
const undo = document.getElementById("undo");
element.innerHTML = "<link rel='stylesheet' href='https://use.fontawesome.com/releases/v5.8.2/css/all.css'><link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap'><link href='https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.0/css/bootstrap.min.css' rel='stylesheet'><link href='https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.19.1/css/mdb.min.css' rel='stylesheet'><script type='text/javascript' src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js'/><script type='text/javascript'src='https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.4/umd/popper.min.js'/><script type='text/javascript' src='https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.0/js/bootstrap.min.js'/><script type='text/javascript' src='https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.19.1/js/mdb.min.js'/>"
sheet.innerHTML = ""
undo.innerHTML = "<button onclick='themeChangeBack()'>desimplify</button>"
}
function themeChangeBack() {
const element = document.getElementById("btstrp");
const sheet = document.getElementById("stsh");
const undo = document.getElementById("undo");
element.innerHTML = "";
sheet.innerHTML = "<link href='https://assets.comicserver.org/css/core.css' rel='stylesheet'>"
undo.innerHTML = "<a href='#' onclick='themeChange()'>simplify</a>"
}
</script>