<head>
<link rel="manifest" href="/manifest.json">
<link rel="apple-touch-icon" href="https://old.comicserver.org/img/core.png">
</head>
<div id="birthdaytheme">
<p onclick="window.location='/'" style="margin:0;padding-bottom:2%;font-size:3em;cursor:pointer;text-align:center;font-family:Lobster;color:var(--ba);" id="nameplate">Comicserver</p>
<div class="main" id="cents">
<span class="main">
  <select id="selectBoxes" style="width:100%;-webkit-appearance:none" onchange="changeName();" class="hello">
    <optgroup label="ComicBrowser">
    <option value="future">Search for a Future Comic</option>
    <option value="search">Search by Query</option>
    <option value="name">Search by Name</option>
    <option value="ai">Make an AI Comic</option>
    <optgroup label="Other">
    <option value="namesum" selected="">Summary</option>
    <option value="explore">Explore</option>
  </select>
</span>
    <form class="cents" method="post" action="javascript:void(0)" onsubmit="loadSpecificComic(thingys.value)" name="selected" id="namesum">
        <input class="input" style="font-size:3vw" type="text" name="thingys" id="comiccee" placeholder="Start with a Comic" required>
        <input type="submit" name="submitbutton" value="Go" onclick="return;">
      </form>
    <form style="display:none" class="cents" method="post" onsubmit="return submitcheck(this);" id="addfav">
        <input class="input" style="font-size:3vw" type="text" name="thingyyy" id="favad" placeholder="Start with a Favorite" required>
        <input type="submit" name="submitbutton" value="Go" onclick="lick(thingyyy);">
      </form>
      <script>
      function lick(element)
      {
      if(element.value === ""){
      return;
      }
      if(element.value === " "){
      return;
      }
      if(element.value === "‎"){
      return;
      }
        var urlstring = `/add?url=${element.value}`;
        window.location.replace(urlstring);
      }
      </script>
<form style="display:none" class="cents" method="post" onsubmit="return submitcheck(this);" id="delfav">
        <input class="input" style="font-size:3vw" type="text" name="thingyyy" id="favdel" placeholder="Start without a Favorite" required>
        <input type="submit" name="submitbutton" value="Go" onclick="sneak(thingyyy);">
      </form>
      <script>
      function sneak(element)
      {
      if(element.value === ""){
      return;
      }
      if(element.value === " "){
      return;
      }
      if(element.value === "‎"){
      return;
      }
        var urlstring = `/del/?index=${element.value}`;
        window.location.replace(urlstring);
      }
      </script>
    <form style="display:none" class="cents" method="post" onsubmit="return submitcheck(this);" id="ai">
        <input class="input" style="font-size:3vw" type="text" name="thingyyy" id="aigen" placeholder="Start with a Robot" required>
        <input type="submit" name="submitbutton" value="Go" onclick="flick(thingyyy);">
      </form>
      <script>
      function flick(element)
      {
      if(element.value === ""){
      return;
      }
      if(element.value === " "){
      return;
      }
      if(element.value === "‎"){
      return;
      }
        var urlstring = `/ai?prompt=A comic strip about ${element.value}`;
        window.location.replace(urlstring);
      }
      </script>
    <form style="display:none" class="cents" method="post" onsubmit="return submitcheck(this);" id="name">
        <input class="input" style="font-size:3vw" type="text" name="thingyyys" id="comiccee" placeholder="Start with a Name" required>
        <input type="submit" name="submitbutton" value="Go" onclick="eklik(thingyyys);">
      </form>
      <script>
      function eklik(element)
      {
      if(element.value === ""){
      return;
      }
      if(element.value === " "){
      return;
      }
      if(element.value === "‎"){
      return;
      }
        var urlstring = `/load?name=${element.value}`;
        window.location.replace(urlstring);
      }
      </script>
    <form style="display:none" class="cents" method="post" onsubmit="return submitcheck(this);" id="future">
        <input class="input" style="font-size:3vw" type="text" name="thingyyy" id="comiccer" placeholder="Start with Plutonium" required>
        <input type="submit" name="submitbutton" value="Go" onclick="klik(thingyyy);">
      </form>
      <script>
      function klik(element)
      {
      if(element.value === ""){
      return;
      }
      if(element.value === " "){
      return;
      }
      if(element.value === "‎"){
      return;
      }
        var urlstring = `/tomorrow?name=${element.value}`;
        window.location.replace(urlstring);
      }
      </script>
          <form style="display:none" class="cents" method="post" onsubmit="return submitcheck(this);" name="viewgen" id="search">        <input class="input" style="font-size:3vw" type="text" name="thingyy" id="comicced" placeholder="Start with a Query" required>
        <input type="submit" name="submitbutton" value="Go" onclick="elik(thingyy);">
      </form>
      <script>
      function elik(element)
      {
      if(element.value === ""){
      return;
      }
      if(element.value === " "){
      return;
      }
      if(element.value === "‎"){
      return;
      }
        var urlstring = `/search?name=${element.value}`;
        window.location.replace(urlstring);
      }
      function submitcheck(element)
      {
        return false;
      }
function changeName() {
var selectBox = document.getElementById("selectBoxes");
var selectedValue = selectBox.options[selectBox.selectedIndex].value;
if(selectedValue === "explore") {
window.location.replace('./explore')
} else {
document.getElementById(selectedValue).style.display = 'block'
document.getElementsByName('selected')[0].style.display = 'none'
document.getElementsByName('selected')[0].name = null
document.getElementById(selectedValue).name = "selected"
}
const lsgi = localStorage.getItem('theme')
if(lsgi === 'welbdays') {
document.getElementById('cdwn').style.display = "none"
}
}
</script>
<script>

if( /Android|webOS|iPhone|iPad|iPod|BlackBerry|IEMobile|Opera Mini/i.test(navigator.userAgent) ) {
document.getElementById('comiccer').style.fontSize = "5vw"
//document.getElementById('cdwn').style.display = "none"
document.getElementById('birthdaytheme').style.display = "hidden"
document.getElementById('cents').style.width = "100%"
document.getElementById('cents').style.maxWidth = "80%"
document.getElementById('cents').style.width = "100%"
document.getElementById('cents').style.maxWidth = "80%"
document.getElementById('cents').style.width = "100%"
//document.getElementById('cents').style.display = "none"
document.getElementById('comicced').style.fontSize = "5vw"
document.getElementById('comiccee').style.fontSize = "5vw"
document.getElementById('favad').style.fontSize = "5vw"
document.getElementById('favdel').style.fontSize = "5vw"
document.getElementById('aigen').style.fontSize = "5vw"
}
if(localStorage.getItem('theme') === 'sketch') {
document.getElementById('nameplate').style.fontFamily = "Chicago";
document.getElementById('nameplate').innerText = "ComicServer";
}  
if(localStorage.getItem('theme') === 'dispatch') {
document.getElementById('nameplate').style.fontFamily = "Emblema One"
}
</script>
  <button class="mbutton" id="prev" onclick="prevStrip();" style="display:none">Previous</button>
  <button id="random" class="mbutton" onclick="shufStrip();" style="display:none">Shu-ffle</button>
  <button id="next" class="mbutton" onclick="nextStrip();" style="display:none">Next</button>
</div>
<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<style>
.sticky {
  position: fixed;
  top: 0;
  width: 100%;
  height: 75%;
}
</style>
<link rel="shortcut icon" href="https://old.comicserver.org/img/core.png" />
</head>
<body>
</body>
</html>
<%- include('theme') %>