<%- include("partials/csbtnhead", { title: "Error" }) %>

<body oncontextmenu="return false;">
<div class="container-sm center" style="margin-top: 25px;">
  <div class="d-grid gap-2 col-6 mx-auto">
  <style>
  .center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}
</style>
<h1>This Comic Could Not Be Loaded</h1>
<p>Sorry about that. if you want to leave this barren page, click <a href="#" onclick="history.back(); return false;">here</a></p>
</div>
</div>

<%- include("partials/csfoot") %>