<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Comfortaa:wght@300&display=swap" rel="stylesheet">
<link rel="shortcut icon" href="https://comicserver.github.io/Site/img/Logos/ComicServer/cslogo.png" />
<title>ComicServer</title>
<style>
.centerr {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  font-family: Comfortaa;
}
.btn {
border: none;
background-color: inherit;
padding: 14px 28px;
cursor: pointer;
display: inline-block;
}
</style>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<a href="/">
<div class="logo centerr"></div>
</a>
<hr></hr>
<h1 style="text-align:center" class="footer">Cesium/Valley (v5.4)</h1>
  <div>
<div class="footer center"><b>Cesium/Valley (c2022.1.20) is the second installment of ComicServer since the start of 2022. A new simplified experience brings the attention to phones and tablets, items that the user is more likely to open this site up on. We have mastered this experience by putting everything you need at your fingertips and nothing else.</b><hr>Vista (c2022.1.1, v5.3): Future comics (+1 month of comic strips from a wide selection) have been added and Favorite Comics have been put into beta.<hr>Coneflower (c2021.12.25, v5.2): Mostly bug fixes, but a major backend improvement that makes things shine!<hr>Cornflower (c2021.12.10, v5.1): The date picker is being pulled out of it's old-looking asthetic with custom styling to make it stand out.<hr>Cesium (c2021.12.1, v5): Cesium gives ComicServer it's refreshed personality, a mobile, on-the-go, friendly, and most of all, easy to use Funnies section of the newspaper, there when you need it.<hr>Bootstrap (v4): Bootstrap utilizes a third-party CSS sheet to simplify the site to an extreme.<hr>Plane (v3): This vanilla CSS sheet is easy to use and utilize. This, however, is a merger version from v2 to v4, so it won't last long.<hr>Wix (v2): This version utilizes the Wix website builder. This is the first major release of ComicServer.<hr>Google Sites [Classic] (v1): This website is the first release of ComicServer, and utilizes Adobe Flash Player for most content. We are in the middle of merging to HTML and others for content with this version, some beta versions are already on-site!<hr>Google Sites (Beta): Favorite Comics is a service to see popular comics on-site every day. We are utilizing Version One to view archives of Garfield and US Acres.</div>
</div>
</div>
</div>
<p class="footer" style="font-size:1vw">Comics &copy AMU and KFS | <a href="/versions">Cesium</a><!-- | <a href="#" onclick="snowStorm.toggleSnow();return false">Snow</a> --></p>
<!-- <script src="https://comicserver.github.io/Site/js/snow.js"></script> -->
<%- include("themesn") %>