<title>ComicServer</title>
<link rel='shortcut icon' href='https://old.comicserver.org/img/core.png' />
<div class="mydiv" id="myDiv" style="border:1px solid var(--ba);border-radius:5px;margin:center;width:50%;color:var(--ba)">
<p style="padding-left:10px;cursor:pointer" onclick="window.location.replace('./')"><b>Already have an account?</b> Log In!</p><hr style="background-color:var(--ba);height:1px;border:0;">
</p><h1 style="text-align:center;font-family:Lobster;color:var(--ba)" id="head">Create an Account</h1>
<form action="/signup" method="post">
    <section>
        <input id="username" name="username" type="text" autocomplete="username" placeholder="Username" style="font-size:1.5em;opacity:.5;width:100%;text-align:center;color:var(--ba)" required autofocus>
    </section>
    <section>
        <input id="new-password" name="password" type="password" autocomplete="new-password" placeholder="Password" style="font-size:1.5em;opacity:.5;width:100%;text-align:center;color:var(--ba)" required>
    </section>
    <button class="button" id="signinbutton" type="submit">Sign up</button>
</form>
<p style="padding: 10px;color:var(--ba);text-align:justify" id="desc">ComicServer is a simple webapp that provides easy access to comic strips. You can explore 710 different comics with Summary, a browsing tool that provides up to 25 of the latest strips. ComicBrowser allows you to dig deeper and explore the entire archive of comics. And with favorites, the funniest comics can be right on your homepage. Sign in to access it all.</p>
<p style="padding-bottom: 10px;text-align:center;color:var(--ba);opacity:0.8">Last Updated with Muncie 14 (v6.12)</p>
</div>
<style>
body {
  display:flex;
  margin:0;
  flex-direction:column;
}

.mydiv {
  margin:auto;
}
</style>
      <script>
if(localStorage.getItem('theme') === 'dispatch') {
document.getElementById('head').style.fontFamily = "Emblema One"
}
if( /Android|webOS|iPhone|iPad|iPod|BlackBerry|IEMobile|Opera Mini/i.test(navigator.userAgent) ) {
document.getElementById('myDiv').style.width = "100%"
document.getElementById('myDiv').style.fontSize = "5vw"
document.getElementById('myDiv').style.border = ""
document.getElementById('myDiv').style.color = "var(--batext)"
document.getElementById('new-password').style.color = "var(--batext)"
document.getElementById('username').style.color = "var(--batext)"
document.getElementById('desc').style.color = "var(--batext)"
document.getElementById('head').style.color = "var(--batext)"
document.getElementById('myDiv').style.padding = "10px"
document.getElementById('new-password').style.fontSize = "7vw"
document.getElementById('username').style.fontSize = "7vw"
document.getElementById('signinbutton').style.fontSize = "4vw"
}
      </script>
<%- include('theme') %>
</div>