<title>Advanced | ComicServer</title>
<meta property="og:image" content="https://old.comicserver.org/img/Muncie 3.png">
 <meta property="og:image:type" content="image/png">
<meta property="og:image:width" content="1982">
<meta property="og:image:height" content="1982">
<meta property="og:type" content="website" />
<meta property="og:title" content="ComicServer" />
<meta property="og:description" content="ComicServer is a service that keeps you up to date with the fun part of the newspaper." />
<link rel='shortcut icon' href='https://old.comicserver.org/img/core.png' />
<%- include ("header") %>
<h2 id="haitchpea" style="font-size: 2vw;text-align:center;padding:1px"
class="profd"><span style="padding-left:10px">Advanced Prefrences</span></h2>
<p class="proft" style="font-size:1vw" id="txt">Add and Delete your favorites from the SmartBar!</p>
<br><br>
 <select id="selectBox" class="hello" onchange="changeFunc();" style="width:100%;text-align:center;-webkit-appearance: none;padding-left:5px;background-color:var(--ba);color:var(--basic);border-radius:5px;width:50%;margin-left:25%;margin-right:25%;cursor:pointer">
    <option disabled selected>Theme</option>
    <option value="basic">Light</option>
    <option value="blackout">Dark</option>
    <option value="auto">Automatic</option>
    <option value="agave">Muncie's Agave</option>
   </select>
<br><br>
<div style='right:2px;border: 1px solid grey;float:right;border-radius:5px;color:grey;text-align:center;width:50%;margin-left:25%;margin-right:25%;cursor:pointer' onclick="decide()" id="toggle">Toggle Random Comic</i></div>
<br><br>
<script>
function decide() {
console.log(localStorage.getItem('rand'))
if(localStorage.getItem('rand') === null) {
alert('Turned off!')
localStorage.setItem('rand', false)
} else if(localStorage.getItem('rand') === "true") {
alert('Turned off!')
localStorage.setItem('rand', false)
} else if(localStorage.getItem('rand') === "false") {
alert('Turned on!')
localStorage.setItem('rand', true)
}
}
        function changeFunc() {
   var selectBox = document.getElementById("selectBox");
   var selectedValue = selectBox.options[selectBox.selectedIndex].value;
   localStorage.setItem('theme', selectedValue)
        window.location.reload();
}
</script>
<br><br>
<div class="halfsies" id="favs">
</div>
<div class="mydiv" id="myDiv" style="margin-left:auto;margin-right:auto">
<p style="color:red;text-align:center;padding:5px;cursor:pointer" onclick="window.location.replace('./logout')">Sign Out</p>
<p style="color:red;text-align:center;padding:5px;cursor:pointer" onclick="window.location.replace(`./delete?uname=<%= token %>`)">Delete Account</p>
</div>
<p onclick="window.location.replace('/')" style="color:#3799EB;text-align:center;text-align:center;cursor:pointer">Save Changes</p>
<script>
if( /Android|webOS|iPhone|iPad|iPod|BlackBerry|IEMobile|Opera Mini/i.test(navigator.userAgent) ) {
document.getElementById('txt').style.fontSize = "4vw";
document.getElementById('haitchpea').style.fontSize = "5vw"
document.getElementById('favs').style.marginLeft = "auto";
document.getElementById('favs').style.marginRight = "auto";
document.getElementById('toggle').style.marginLeft = "auto";
document.getElementById('toggle').style.marginRight = 'auto';
document.getElementById('selectBox').style.marginLeft = 'auto';
document.getElementById('selectBox').style.marginRight = 'auto';
document.getElementById('toggle').style.width = "100%";
document.getElementById('selectBox').style.width = "100%";
}
</script>
<%- include('iheader') %>
<script>
var array = ["amazing-spider-man", "arctic-circle", "barney-google-and-snuffy-smith", "beetle-bailey", "beetle-bailey-1", "between-friends", "bizarro", "blondie", "carpe-diem", "crankshaft", "crock", "curtis", "daddy-daze", "dennis-the-menace", "dustin", "edge-city", "flash-forward", "flash-gordon", "funky-winkerbean", "Funny_Online_Animals", "Gearhead_Gertie", "hagar-the-horrible", "hi-and-lois", "Intelligent", "judge-parker", "katzenjammer-kids", "kevin-and-kell", "Macanudo", "mallard-fillmore", "mandrake-the-magician-1", "mark-trail", "Marvin", "mary-worth", "moose-and-molly", "mother-goose-grimm", "mutts", "on-the-fastrack", "pardon-my-planet", "popeye", "popeyes-cartoon-club", "prince-valiant", "pros-cons", "rae-the-doe", "rex-morgan-m-d", "rhymes-with-orange", "safe-havens", "sales", 'sally-forth', "sam-and-silo", "sherman-s-lagoon", "shoe", "six-chix", "slylock-fox-and-comics-for-kids", "take-it-from-the-tinkersons", "brilliant-mind-of-edison-lee", "family-circus", "lockhorns", "pajama-diaries", "phantom", "tiger", "tinas-groove", "todd-the-dinosaur", "zippy-the-pinhead", "zits"];
const str = '<%= favs %>';
const favs = str.split(',')
console.log(favs)
const isValidUrl = url => {
  const regexp = /(ftp|http|https):\/\/(\w+:{0,1}\w*@)?(\S+)(:[0-9]+)?(\/|\/([\w#!:.?+=&%@!\-\/]))?/;
  return regexp.test(url);
}
function not(predicate) {
  return function() {
    return !predicate.apply(this, arguments);
  };
}
function makeComics() {
const fRes = favs.filter(not(isValidUrl))
//alert(fRes)
}
makeComics()
const validUrls = favs.filter(isValidUrl);
const validComics = favs.filter(not(isValidUrl));
validComics.forEach(comicLoad)
validUrls.forEach(customLoad)
async function comicLoad(index, item) {
var xmlhttp = new XMLHttpRequest();
xmlhttp.onreadystatechange = function() {
if (this.readyState == 4 && this.status == 200) {
var obj = this.responseText
var parser, xmlDoc;
parser = new DOMParser();
xmlDoc = parser.parseFromString(obj,"text/xml");
const croppedcdataa = xmlDoc.querySelector("item description").childNodes[0].nodeValue
const croppedcdata = croppedcdataa.slice(0, -151)
var div = document.createElement("div");
div.innerHTML = 
`
<b name="${index}">${xmlDoc.querySelector("item title").childNodes[0].nodeValue}</b><div style='border: 1px solid red;float:right;border-radius:5px;width:auto;color:red;text-align:center;cursor:pointer' onclick="window.location.replace('https://comicserver.org/del/?index=${index}')"><i class="bi bi-trash3-fill" style="padding:1px"></i></div><hr style="background-color:var(--ba);height:1px;border:0;"><div class="r">${croppedcdata}</div><br><br>`
document.getElementById("favs").appendChild(div);
}
};
xmlhttp.open("GET", "https://www.comicsrss.com/rss/" + index.replace(/\s/g,"").toLowerCase() + ".rss", true);
await xmlhttp.send();
}
function customLoad(index, item) {
var div = document.createElement("div");
div.innerHTML = `<b onclick='window.open("https://dispatch.comicserver.org")' style="cursor:pointer">A custom slot was supposed to display here, but they have been removed following release of dispatch.</b><div style='border: 1px solid red;float:right;border-radius:5px;width:auto;color:red;text-align:center;cursor:pointer' onclick="window.location.replace('https://comicserver.org/del/?index=${index}')"><i class="bi bi-trash3-fill" style="padding:1px"></i></div><br><br>`
document.getElementById("favs").appendChild(div);
}
async function backLoad(index, item) {
let url = "https://api.rss2json.com/v1/api.json?rss_url=" + index + "&api_key=n5q9v8nv91v1g0bmopaipuej366f6yximg3k5lli";
var xmlhttp = new XMLHttpRequest();
xmlhttp.onreadystatechange = function() {
if (this.readyState == 4 && this.status == 200) {
var obj = JSON.parse(this.responseText);
var div = document.createElement("div");
div.innerHTML = `<b name="${index}">${obj.items[0].title} by ${obj.items[0].author}</b><div style='border: 1px solid red;float:right;border-radius:5px;width:auto;color:red;text-align:center;cursor:pointer' onclick="window.location.replace('https://comicserver.org/del/?index=${index}')"><i class="bi bi-trash3-fill" style="padding:1px"></i></div><hr style="background-color:var(--ba);height:1px;border:0;"><div class="r">${obj.items[0].description}</div><br><br>`
document.getElementById("favs").appendChild(div);
}
};
xmlhttp.open("GET", url, true);
await xmlhttp.send();
}
</script>