<%- include("partials/header", { bot, user, path, title: "Comic Viewer" }) %>
<div class="card" style=" width:auto; max-width: 100rem; margin: 2rem; min-width: 10em;">
    <img src="<%= csImage %>" style="width:auto;height:auto">
    <div class="card-body">
    <h1 class="card-title"><%= csDate %></h1>
</div>
</div>
<%- include("partials/csfoot") %>