<%- include("partials/csbrowsehead", { bot, user, path, title: "404" }) %>

<body oncontextmenu="return false;">
<div class="container-sm center" style="margin-top: 25px;">
  <div class="d-grid gap-2 col-6 mx-auto">
  <style>
  .center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}
</style>
<h1>You have Choices!</h1>
<p><i>Since this page doesn't exist, we gave you two options:</i></p>
<a href="./">Rickroll Yourself</a>
<br>
<a href="https://www.youtube.com/watch?v=dQw4w9WgXcQ">Go Home</a>
  </div>
</div>

<%- include("partials/csfoot") %>