<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Comfortaa:wght@300&display=swap" rel="stylesheet">
<link rel="shortcut icon" href="https://assets.comicserver.org/img/Logos/ComicServer/cslogo.png" />
<title>ComicServer</title>
<style>
.centerr {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  font-family: Comfortaa;
}
.btn {
border: none;
background-color: inherit;
padding: 14px 28px;
cursor: pointer;
display: inline-block;
}
</style>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<a href="/">
<div class="logo centerr"></div>
</a>
<hr></hr>
<h1 style="text-align:center" class="footer">Cesium/Valley</h1>
  <div>
  <p class="footer center"><b>Cesium/Valley (c2022.1.20) is the second installment of ComicServer since the start of 2022. A new simplified experience brings the attention to phones and tablets, items that the user is more likely to open this site up on. We have mastered this experience by putting everything you need at your fingertips and nothing else.</b></p>
  <div>
  <p class="center footer">Vista (c2022.1.1): Future comics (+1 month of comic strips from a wide selection) have been added and Favorite Comics have been put into beta.</div><div class="footer center"><hr>Coneflower (c2021.12.25): Mostly bug fixes, but a major backend improvement that makes things shine!<hr>Cornflower (c2021.12.10): The date picker is being pulled out of it's old-looking asthetic with custom styling to make it stand out.<hr></div><div class="footer center">Cesium (c2021.12.25): Cesium gives ComicServer it's refreshed personality, a mobile, on-the-go, friendly, and most of all, easy to use Funnies section of the newspaper, there when you need it.<hr></div></p>
<div>
</div>
    </div>

      </div>
</div></div>
<p class="footer" style="font-size:1vw">Comics &copy AMU and KFS | <a href="/versions">Cesium</a><!-- | <a href="#" onclick="snowStorm.toggleSnow();return false">Snow</a> --></p>
<!-- <script src="https://assets.comicserver.org/js/snow.js"></script> -->
<%- include("themesn") %>