<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
    <link rel="shortcut icon" href="https://comicserver.org/img/Logos/ComicServer/cslogo.png" />    <link id="stylesheet" rel="stylesheet" type="text/css" href="https://comicserver.org/css/dark.css"/>
    <script>
    function setStyleSheet(url){
       var stylesheet = document.getElementById("stylesheet");
       stylesheet.setAttribute('href', url);
    }
    </script>
    </head>
<body>
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
      <a class="navbar-brand" href="https://app.comicserver.org">ComicServer Comic Viewer</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarText">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
</div>
</div>
Theme:
<select class="btn btn-success" onChange="setStyleSheet(value)"> 
<option disabled>Choose</option>
<option value = "https://comicserver.org/css/light.css">Light</option>
<option selected="selected" value = "https://comicserver.org/css/dark.css">Dark</option>
<option value = "https://comicserver.org/css/material.css">Material</option>
<option value = "">Raw</option>
</select>
    <script>
    function setStyleSheet(url){
       var stylesheet = document.getElementById("stylesheet");
       stylesheet.setAttribute('href', url);
    }
    </script>
  </nav>
<style>
.hidden {
display: none;
}
</style>  